# Required: The machine image used to run the OpenStack dev env
AMI="unset"

# Optional: If your cloud automatically assign public IPs or you only want to use a private IP, leave this "unset"
# Otherwise, choose a public IP that has already been allocated to you
IP="unset"

# Optional: Size of the VM you want to use. 
# Will use the default size if this is left as "unset"
SIZE="unset"

# This is the default keypair name and will be created if you do not have one
KEYPAIR="devstack"

# The devstack master branch (the default) generally points to trunk versions of OpenStack components. 
# For older, stable versions, look for branches named stable/[milestone].
# IMPORTANT: If you change this value, you must change all of the branches in localrc to a similar stable branch.
# https://github.com/cloudbuilders/devstack/branches
BRANCH="master"